<a href="https://colab.research.google.com/github/duggiralasneha4520/FMML_LABS-/blob/main/FMML_2023_Basics_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Getting Started

FMML Module 1, Lab 1 <br>
 Module Coordinator: Amit Pandey ( amit.pandey@research.iiit.ac.in ) <br>
 Release date: Aug 2022 <br>

### In this notebook we will be covering the very basics of Python and some basic libraries such as Numpy, Matplotlib and Nltk.
#### It is suggested that you go through each line and try some examples.

#### Section 1 - Python : Basic data types and indexing.

In [57]:
## Strings
'''
A string is a collection of one or more characters put in a single quote,
 double-quote or triple quote. In python there is no character data type,
 a character is a string of length one. It is represented by str class.

String can have special characters. String can be indexed

'''


name = 'First Lab'
name_extended = name + 'Module 1'
last_element_string = name[-1] # -1 in python is index of the last element.
## indexing is important for preprocessing of the raw data.

In [58]:
print(name ,"\n", name_extended, "\n", last_element_string)

First Lab
 First LabModule 1
 b

In [59]:
## List

'''
Lists are ordered collection of data, and are very similar to arrays,
It is very flexible as the items in a list do not need to be of the same type.
'''

name_list = ['First Lab', 3 , '1.1' , 'Lab 1'] ## notice elements are of different data type.
name_list.extend(['Module 1']) ## adding elements to list (Read about append method as well).
element_2 = name_list[1] ## Just like other languages, the index starts from 0.
two_dimesional_list = [[1,2],[3,4]] ## practice with multi-dimensional lists and arrays
## you would soon be required to handle 4 dimensional data :p :)
name_list[2] = '1.111' ##list elements can be changed

In [60]:
print(name_list)
print(element_2)
print(two_dimesional_list)
## list can have list, dictionary, string etc.

['First Lab', 3, '1.111', 'Lab 1', 'Module 1']
3
[[1, 2], [3, 4]]

In [61]:
## Tuples

name_tuple = ('First Lab', 1, (2,3),[1,1,'list having string']) ## A tuple can have a tuple.

print(name_tuple[2])
print("first indexing the last element of the tuple, which is a list and \n then last element of the list (a string) and then second last element of the string:")
print(name_tuple[-1][-1][-2])

(2, 3)
first indexing the last element of the tuple, which is a list and
 then last element of the list (a string) and then second last element of the string:
n

In [62]:
## tuples are immutable, read the error !
 #usued when passing parameters etc. and dont want them to be changed

name_tuple

('First Lab', 1, (2, 3), [1, 1, 'list having string'])

In [63]:
## Sets
'''a Set is an unordered collection of data types that is iterable, mutable and has no duplicate elements.
The order of elements in a set is undefined though it may consist of various elements.
The major advantage of using a set, as opposed to a list,
 is that it has a highly optimized method for checking whether a specific element is contained in the set.
'''
set_unique = set([1,1,2,3,5,6,'Lab1'])
print(set_unique) ##notice it is unordered
last_el = set_unique.pop()
set_unique.add((1,2))


print(last_el)
print(set_unique)

{1, 2, 3, 'Lab1', 5, 6}
1
{2, 3, 'Lab1', 5, 6, (1, 2)}

In [64]:
set_unique ##it is not indexable

{(1, 2), 2, 3, 5, 6, 'Lab1'}

In [65]:
## Dictionary
'''
Dictionary in Python is an unordered collection of data values, used to store data values like a map,
 which, unlike other data types which hold only a single value as an element.
'''

dic = {'1': 'A','2':'B', 'C':3 } ##Observe how key and values can be anything
dic['4'] ='New'
print(dic)

{'1': 'A', '2': 'B', 'C': 3, '4': 'New'}

#### Question 0:
###### write down 3-5 methods applicable to each data type. (Hint: extend, reverse, etc.

Data types in python:

1.Strings:
a "string" is a data type used to represent text as a sequence of characters. Strings are one of the fundamental data types in Python, and they can be created by enclosing text within either single quotes (') or double quotes (")

some of the String metods in python

upper():converts string into upper case.

lower():converts string into lower case.

count():Returns the number of times a specified value occurs in a string.

isalpha():Returns True if all characters in the string are in the alphabet.

2.Lists :
a "list" is a data structure used to store an ordered collection of items. Lists are one of the most versatile and commonly used data types in Python. Lists are defined using square brackets [ ] and elements within the list are separated by commas.

some of the list methods in python

append(): Adds an element to the end of the list.

insert(index, element): Inserts an element at the specified index.

pop(index): Removes and returns the element at the specified index.

sort():Sorts the list in ascending order.

reverse():Reverses the order of elements in the list.

3.Dictionaries:
a "dictionary" is a data structure used to store collections of key-value pairs. Dictionaries are defined using curly braces { } or by using the dict( ) constructor. Key-value pairs are separated by colons :.

some of the dictionaries methods in python

get(key): Retrieves the value associated with the specified key.

put(key, value): Adds or updates a key-value pair in the dictionary.

remove(key): Removes the key-value pair with the specified key.

keys(): Returns a list of all keys in the dictionaries.

values():Returns a list of all values in the dictionaries.

4.Numerics:
"numeric" refers to data types and values that represent numbers. Python supports several numeric data types, including integers, floating-point numbers, and complex numbers.

some of the numeric methods in method

add(number): Adds a number to the existing number.

*subtract(number): *Subtracts a number from the existing number.

multiply(number):Multiplies the number by another number.

divide(number):Divides the number by another number.

sqrt():Calculates the square root of the number.

5.Sets:
a "set" is a built-in data type that represents an unordered collection of unique elements. Sets are similar to lists or tuples.

some of the set methods in python

add(element):Adds an element to the set.

remove(element): Removes an element from the set.

union(other_set): Returns a new set containing elements from both sets.

intersection(other_set):Returns a new set containing common elements between two sets.

difference(other_set):Returns a new set with elements that are in the first set but not in the second set.

## Section 2 - Functions
### a group of related statements that performs a specific task.

In [66]:
def add_new(a:str, b): ## a and b are the arguments that are passed. to provide data type hint
                              # def add_new(x: float, y: float) -> float:
  sum = a + b
  return sum

ans = add_new(1,2) ## intentionally written str, and passed int, to show it doesn't matter. It is just hint
print(ans)

3

In [67]:
asn = add_new(2,4)

In [68]:
def check_even_list(num_list):

    even_numbers = []

    # Go through each number
    for number in num_list:
        # Once we get a "hit" on an even number, we append the even number
        if number % 2 == 0:
            even_numbers.append(number)
        # Don't do anything if its not even
        else:
            pass
    # Notice the indentation! This ensures we run through the entire for loop
    return even_numbers

#### Question 1 :

##### Define a function, which takes in two strings A and B. Reverses the first string A, adds it to B, and returns the final string.




#### Question 2 :
##### Given a list having Names, work_hours, and gender, Write a function to print name of the female worker that worked the most hours. Also how much do should she be paid if the pay is $ 20 per hour.

##### work_hours = [('Abby',100 , 'F'),('Billy',400, 'M'),('Cassie',800,'F'), ('Maggi',600,'F'),('Alex',500,'M'),('Raj',225,'M'),('Penny',920,'F'),('Ben',300,'M')]

##### Answer : the female worker that worked the most hours is Penny and she should be paid 18400

In [69]:
# question 2
def find_female_with_most_hours(work_hours):
    max_hours = 0
    female_with_most_hours = None
    for name, hours, gender in work_hours:
        if gender == 'F' and hours > max_hours:
            max_hours = hours
            female_with_most_hours = name
    return female_with_most_hours, max_hours
work_hours = [('Abby', 100, 'F'), ('Billy', 400, 'M'), ('Cassie', 800, 'F'), ('Maggi', 600, 'F'), ('Alex', 500, 'M'), ('Raj', 225, 'M'), ('Penny', 920, 'F'), ('Ben', 300, 'M')]
pay_per_hour = 20
female_name, most_hours = find_female_with_most_hours(work_hours)
total_pay = most_hours * pay_per_hour
print("The female worker that worked the most hours is", female_name, "and she should be paid", total_pay)

The female worker that worked the most hours is Penny and she should be paid 18400

In [ ]:
#Question 1
def reverse_and_append(A, B):
    reversed_A = A[::-1]
    result = reversed_A + B
    return result
A = input("Enter A:")
B = input("enter B:")
final_string = reverse_and_append(A, B)
print("final_string:",final_string)

#### Section 3 - Libraries and Reading data.

##### Numpy - One of the most used libraries - supports for large, multi-dimensional arrays and matrices, along with a large collection of high-level mathematical functions to operate on these arrays.

In [ ]:
import numpy as np

In [ ]:

a = np.array([1,1,2,3,4,5,5,6,1]) ## np.array converts given list to array

b = a>1 ## important comparison operation, where frequently used in manipulation and image processing.

print(b)
print(a[b]) ## [printing only those values in a which are greater than 1]

In [ ]:
a_range = np.arange(10,19).reshape(3,3) ## create a 3x3 array with values in range 10-19
a_range

In [ ]:
## Indexing in arrays works same as that of list

a_range[0] # printing all the columns of first row

In [ ]:
a_range[:,2] #printing all the rows of second column

In [ ]:
iden = np.eye(3) #idnetity matrix of given size
iden

In [ ]:
## adding two matrices
summed = a_range + iden
summed

In [ ]:
### arrays support normal matrix multiplication that you are used to, point-wise multiplication
### and dot product as well.

mul = a_range@iden ## normal multiplication
mul

In [ ]:
## point wise multiplication
p_mul = a_range * iden
p_mul

In [ ]:
## Transpose of a matrix.

mtx_t = mul.T
mtx_t

In [ ]:
### Here we are changing the values of last row of the transposed matrix.
### basically point wise multiplying the values of last row with 1,2 and 3

mtx_t[2] = mtx_t[2]*[1,2,3] ## indexing, point wise multiplication and mutation of values
mtx_t

In [ ]:
## Just like the greater than 1 (a>1) example we saw earlier.
## here we are checking if the elements are divisible by 2 (%), and if they are, then replace by 0.

mtx_t[(mtx_t % 2 == 0)] = 0 ## convert even elements of the matrix to zero.
mtx_t

#### Question 3 :

##### a)Create a 5x5 matrix of the following form,

##### [[1,1]
#####  [2,2]]

#####  i.e. each row is increasing and has repetive elements.

######  Hint : you can use hstack, vstack  etc.

##### b) find dot product of the matrix with any matrix. (Figure out the size/ shape of the matrix)

In [ ]:
#question 3(a)
import numpy as np
pattern = np.array([[1, 1], [2, 2]])
matrix = np.tile(pattern, (3, 3))
print(matrix)

In [ ]:
#question 3(b)
import numpy as np
matrix_a = [[(i % 2) + 1 for i in range(j, j + 5)] for j in range(0, 5, 2)]
,matrix_a = np.array(matrix_a)
matrix_b = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12], [13, 14, 15]])
result = np.dot(matrix_a, matrix_b)
print(result)
print("Shape of the result:", result.shape)

#### Reading Files

In [ ]:
## loading from the google drive
from google.colab import drive
drive.mount('/content/gdrive')

In [ ]:
with open ('/content/sample_data/README.md', 'r') as f:
  a = f.readlines()

a ## here a is list of elements/strings each splitted at \n, \n is also part of the list element.

In [ ]:
import pandas as pd

df = pd.read_csv('/content/sample_data/california_housing_test.csv','r')
df.head(10) ## pass as argument number of top elements you wish to print. Head is used to have a quick glance and understand the data.

In [ ]:
len(df.columns), df.columns

In [ ]:
df.columns[0]

In [ ]:
df['longitude,"latitude","housing_median_age","total_'][:5]

In [ ]:
df = df.rename(columns = {'longitude,"latitude","housing_median_age","total_':'Detail1'}) ##rename column names as at times it makes it easier for us

In [ ]:
df.head(3)

In [ ]:
df.iloc[:5, 0]  ##iloc - index - 0 to 4 rows and first column only.

In [ ]:
import matplotlib
from matplotlib import pyplot as plt

In [ ]:
xpoints = np.array([1, 8])
ypoints = np.array([3, 10])

plt.plot(xpoints, ypoints)
plt.show()

In [ ]:
xpoints = np.array([1, 2, 6, 8])
ypoints = np.array([3, 8, 1, 10])

plt.plot(xpoints, ypoints)
plt.show()

## Creating a dataframe.
#### Task: Study about other methods of creating dataframe (for example: using Pandas Series, Lists etc.)

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
values = np.arange(16).reshape(4,4)
values

In [ ]:
dataframe_from_array = pd.DataFrame(values, index = ['a','b','c','d'], columns=['w','x','y','z'] )
dataframe_from_array

In [ ]:
dataframe_from_array.loc[['a','b'],['w','x']]

In [ ]:
dataframe_from_array.iloc[0] ## it needs position as integer

In [ ]:
dataframe_from_array.iloc[1,3] #second row and last column

In [ ]:
dataframe_from_array.iloc[::2,::2]

In [ ]:

import numpy as np
from matplotlib import pyplot as plt

ys = 200 + np.random.randn(100)
x = [x for x in range(len(ys))]

plt.plot(x, ys, '-')
plt.fill_between(x, ys, 195, where=(ys > 200), facecolor='g', alpha=0.6)

plt.title("Sample Visualization")
plt.show()

In [ ]:
## Question 3 : Upload an image to your google drive, Use plt.imread to read image from the google drive and then print that image using plt.imshow


## Answer 3 :
file_path = "/content/books.jpeg"
arr = plt.imread(file_path)
plt.imshow(arr)


## 1) make sure drive is loaded and then upload a test image onto your drive